[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bumpversion = "==0.5.3"
watchdog = "==0.9.0"
"flake8" = "==3.5.0"
tox = "==3.4.0"
coverage = "==4.5.1"
twine = "==1.11.0"
pytest = "==3.8.1"
pytest-runner = "==4.2"
Sphinx = "==1.8.1"
black = "==18.6b4"
pylint = "==2.1.1"
"pep8" = "==1.7.1"
pydocstyle = "==2.1.1"
mypy = "==0.630"
click = "==6.7"
"path.py" = "==11.3.0"

[dev-packages]

[requires]
python_version = "3.6"
